
/* debugging */
/** {
    border: 1px solid red;
}*/

/* colors */
:root {
    --light_grey: #0B0E11;
    --dark_grey:  #15181b;
    --blue:       #1295D8;    
}

/* weighted font */
.bold {
    /* font colors */
    color: var(--blue);
    flex-wrap: nowrap;
}

.gap {
    position: relative;
    height: 100px;
}

/* body styling */
body {
    /* positioniong */
    margin: 0px;

    /* font styling */
    font-family: "Darker Grotesque", sans-serif;
    font-weight: 400;
    /*font-size: 18px;*/
    color: white;

    /* background */
    background-color: var(--dark_grey);  /* dark grey */

    /* hide scrollbar */
    overflow-x: hidden;
}

/* Portrait mode */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 
    .body, .html {
        overflow-x: hidden !important;
        max-width: 100% !important;
    }
}

/* footer */
.document_footer {
    background-color: var(--light_grey);
    padding: 10px;
    font-size: 16px;
    text-align: center;
}