
.contact {
    font-size: 20px;
    margin-left: 100px;
    margin-right: 100px;
}

.title {
    font-size: 28px;
    margin-bottom: -5px;
}

.rotating_car {
    width: 35%;
    height: autp;
}

.contact_form {
    display: flex;
    flex-direction: column;
}

body {
    /* animations */
    animation: fade_in 1.75s ease forwards;
    overflow-x: none;
}