
a {
    color: #2774AE;
    filter: brightness(1.5);
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
} 

.col {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;

    /*align-items: center;*/
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 35px;
    margin-right: 35px;
}

/* -----start of cover section----- */
.cover_container {
    /* text alignment */
    position: relative;
    text-align: center;
    color: white;
    display: flex;
    -moz-animation: fade_in 2s;
    -webkit-animation: fade_in 2s;
    -o-animation: fade_in 2s;
    animation: fade_in 2s;

    /* image */
    background: url("../images/coverphoto.gif") no-repeat center center fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;

    /* image dimensions and styling */
    width: 100vw;
    height: 85vh;
}

/* cover photo */
.cover_photo {
    /* positioning */
    position: relative;
    width: 100%;
    background-size: cover;
    display: flex;
    flex-direction: column;

    /* styling */
    background-color: #15181b;
    opacity: 0.35;
}

/* adjectives over cover photo */
.text_overlay {
    /* font syling */
    font-family: "Darker Grotesque", sans-serif;
    font-weight: 600;
    font-size: 6vh;
    text-align: center;
    letter-spacing: 7.5px;
    line-height: 50px;

    /* centering text in middle of photo */
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
/* -----end of cover section----- */



/*-----start of about-----*/
.about {
    /* positioning */
    position: relative;
    margin: 125px;


    /* font */
    text-align: left;
    font-size: 34px;
}
/*-----end of about-----*/



/*-----start of avatar-----*/

.avatar {
    height: 10%;
    width: 10%;
}

.user {
    display: flex;
    padding-top: 30px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 25px;
}

.user_says {
    /* positioning */
    display: flex;
    padding-left: 20px;

    /* font styling */
    font-size: 20px;
    font-weight: 400;
    text-align: left;
}
/*-----end of avatar-----*/


/*-----start of curriculum-----*/
.curriculum {
    /* positioning */
    position: relative;
    margin: 75px;
}

.curriculum a {
    transition: 1s;    
}

.curriculum a:hover {
    filter: brightness(1.75);
}

.about_section {
    /* font styling */
    font-size: 22px;
    font-weight: 400;
    text-align: left;

    /* positioning */
    margin-left: 75px;
    margin-right: 75px;
    margin-bottom: 50px;

}
/*-----end of curriculum-----*/



/*-----start of projects-----*/
.projects {
    margin: 125px;
    padding-bottom: 100px;
}

.section_title {
    text-align: center;
    font-weight: 600;
    font-size: 34px;
    letter-spacing: 1.5px;
}

.project_title {
    /*font-size: 28px;*/
    font-size: 28px;
    text-align: center;
    margin-bottom: 0.75em;
}

.projects_wrapper {
    display: flex;
}

.projects_image_wrapper {
    /* positioning DOUBLE CHECK these*/
    position: relative;
    width: auto;
}

.navigation_project {
    color: white;
    text-decoration: none;
}

.container {
    position: relative;
}

.overlay {
    /* overlay */
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #008CBA;
}

.container:hover .overlay {
    /* opacity on hover */
    opacity: 0.75;
}

.project_image {
    display: block;
    height: auto;
    width: 100%;
}

.image_description {
    font-size: 20px;
    text-align: center;
}

.project_about {
    padding: 0px 0.5em;
    display: grid;
    margin: 10px;
    width: 50%;
}

.more_info {
    /* font styling */
    font-weight: 600;
    letter-spacing: 1.5px;
    text-align: center;
    font-size: 2.5vw;
    /*font-size: 24px;*/

    /* center text */
    margin:  0;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.photo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    margin-bottom: 15px;

    height: auto;
    width: 55%;
}
/*-----end of projects-----*/


@media (max-width: 768px) {
    .row {
        flex-direction: column;
    }

    .col {
        align-items: center;
    }

    .projects_image_wrapper {
/*        margin-left: 25px;
        margin-right: 25px;*/
        max-width: 65%;
    }

    .cover_container {
        max-width: 100%;
        height: auto;
    }

    .text_overlay {
        font-size: 24px;
    }

    .curriculum {
        font-size: 22px;
        margin-left: 25px;
        margin-right: 25px;
    }

    .avatar {
        height: auto;
        width: 50%;
    }

    .user_says {
        text-align: center;
    }

    .user {
        flex-direction: column;
        align-items: center;
        margin: 25px;
    }

    .about {
        margin-top: 150px;
        margin-left: 25px;
        margin-right: 25px;
    }

    .project_title {
        font-size: 22px;
    }

    .projects_wrapper {
        flex-direction: column;
        align-items: center;
    }

    .project_about {
        font-size: 22px;
    }

    .projects {
        margin: -100px; /* double check this value */
    }

    .image_description {
        font-size: 18px;
    }

    .about_section {
        margin-left: 25px;
        margin-right: 25px;
    }

    .about_section_mobile {
        margin-left: 150px;
        margin-right: 150px;
    }
}