
.modal {
    /* positioning */
    position: fixed;
    bottom: 0px;
    left: 0;
    height: auto;
    width: 100%;
    z-index: 1;
    visibility: visible;
    margin: 0px;

    /* font styling */
    font-size: 14px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;

    /* modal styling */
    background: rgb(41, 42, 45);
    opacity: 0;
    animation: slide_up 1s forwards;
    /*animation-delay: 1.5s;*/
}

.modal p {
    margin-top: 5px;
    margin-bottom: 5px;
    height: auto;
}

.modal button {
    /* dimensions and framing */
    margin-left: 25px;
    width: 75px;

    /* font styling */
    font-family: "Darker Grotesque", sans-serif;
    font-weight: 600;
    color: white;
    font-size: 14px;

    /* button styling */
    background: none;
    border: none;
    cursor: pointer;
}

.modal button:hover {
    animation: hover_fade 1s forwards;
}

@media (max-width: 768px) {
    .modal {
        visibility: hidden;
    }
}