
.modal {
    /* positiong */
    position: fixed;
    left: 0;
    bottom: 0;

    padding-bottom: 5px;

    /* framing */
    height: 25px;
    width: 100%;
    z-index: 1;

    /* styling */
    background: rgb(30, 30, 30);
}

.content_wrapper {
    margin-top: auto;
    margin-left: 2%;
    width: 80%;

    display: flex;
}

.cookie_icon {
    top: auto;

    /* image dimensions */
    max-height: 16px;
    width: auto;
}

.content_wrapper p {
    font-size: 16px;
    margin: 0;
}

.accept_cookies {
    font-size: 16px;
    background: none;
}