
@keyframes fade {
    from {
        opacity: 1;
    }

    to {
        opacity: 0.6;
    }
}

.modal {
    /* positioning */
    position: fixed;
    bottom: 0;
    left: 0;
    height: auto;
    width: 100%;
    z-index: 1;

    /* font styling */
    font-size: 14px;
    display: flex;
    justify-content: flex-start;

    /* modal styling */
    background: #15181b;
}

.modal button {
    /* positioning */
    position: relative;
    padding: 3px;

    /* font styling */
    font-family: "Darker Grotesque", sans-serif;
    font-weight: 600;
    color: white;
    font-size: 14px;

    /* button styling */
    background: none;
    border: none;
    cursor: pointer;
}

.modal button:hover {
    animation: fade 1s forwards;
}

.accept_button {
    left: 50px;
}

.decline_button {
    left: 100px;
}

@media (max-width: 750px) {
    .modal {
        visibility: hidden;
    }
}