
/*-----desktop stuff-----*/
.navigation_container {
    position: absolute;
    top: 0px;
    width: 100%;
    z-index: 99;
}

.home_link {
    /* positioning */
    position: absolute;
    top: -5px;
    left: 50px;
    width: auto;
    display: flex;
    justify-content: flex-start;

    /* animation */
    animation: fade_in 1s forwards;
    -webkit-animation: fade_in 1s forwards;
    animation-delay: 0.5s;
}

.home_buttom_image {
    /* styling */
    height: 85px;
    width: 85px;
    filter: brightness(0) invert(1);

    /* animation */
    opacity: 0;
    animation: fade_in 1s forwards;
    -webkit-animation: fade_in 1s forwards;
    animation-delay: 0.5s;
}

.pages_container {
    /* positioning */
    top: 20px;
    right: 0px;
    position: absolute;
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.navigation_link {
    /* positioning */
    margin-right: 35px;
    margin-bottom: 0px;

    /* font styling */
    color: white;
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 1.5px;
    opacity: 0;
    text-decoration: none;

    /* animation */
    animation: fade_in 1s forwards;
    -webkit-animation: fade_in 1s forwards;    
    animation-delay: 0.5s;
}

.underline {
  position: relative;
}

/* Animate an underline when hovering over machine */
.navigation_link:before, .underline:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -1px;
  /*bottom: -2%;*/
  left: 0;
  background-color: #FFF;
  opacity: 1;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out 0s;
}

.navigation_link:hover:before, .underline:hover:before {
  visibility: visible;
  transform: scaleX(1);
}

@media (max-width: 768px) {
    .cover_container {
        height: 110vh;
    }

    .home_link {
        top: 5px;
        left: 15px;
    }

    .pages_container {
         visibility: hidden;        
    }

    .body {
        margin: auto;
    }
}

.mobile_pages_container, .close_menu_bar {
    /*visibility: hidden;*/
    display: none;
}
/*-----desktop stuff-----*/



/*-----mobile stuff-----*/
.mobile_navigation_container {
    visibility: hidden;
}

@media (max-width: 768px) {
    .mobile_navigation_container {
        visibility: visible;

        /* positioning */
        position: absolute;
        top: 20px;
        right: 10px;
        width: auto;
    }

    .mobile_navigation_container a {
        display: block;
        height: 41px;
        width: 41px;
    }

    .mobile_menu_bar {
        /* font styling */
        font-size: 46px;
        color: white;
        background-color: yellow;

        /* animations */
        opacity: 0;
        animation: fade_in 1s forwards;
        animation-delay: 0.5s;
    }

    .mobile_pages_container {
        /* positioning */
        position: fixed;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        z-index: 99;

        /* background color */
        background-color: gray;

        /* fade in */
        animation: mobile_fade_in 0.5s forwards;
        -webkit-animation: mobile_fade_in 0.5s forwards;
    }

    .mobile_navigation_link {
        /* positiong */
        position: relative;
        top: 150px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: auto;
        margin-right: auto;

        /* framing */
        width: 125px;
        padding: 25px;

        /* text styling */
        font-weight: 600;
        font-size: 31px;
    }

    .mobile_navigation_link {
        text-decoration: none;
        color: white;
    }

    .mobile_navigation_link:visited {
        text-decoration: none;
        color: white;
    }

    .home_buttom_image {
        opacity: 0;
        animation: fade_in 1s forwards;
        -webkit-animation: fade_in 1s forwards;
        animation-delay: 0.5s;
    }

    .close_menu_bar {
        /* positiong */
        display: block;
        position: absolute;
        top: 20px;
        right: 15px;

        /* styling */
        opacity: 0.85;

        /* framing */
        font-size: 46px;
        color: white;
    }

    .close_div {
        display: block;
    }
}
/*-----mobile stuff-----*/