
:root {
    --light_gray:  #aaa;
    --light_blue: #6ebbf6;    
    --black:      #111;
}

.table_of_contents {
    /* positiong */
    position: fixed;
    left: 3.5em;
    top: 8em;
    padding: 1em;
    height: 100%;
    width: 12em;

    /* font syling */
    line-height: 2;

    /* display */
    display: flex;
    justify-content: flex-end;

    /* styling */
    /*background: rgb(31,34,37);*/
    /*border: 2px solid white;*/
    /*border-radius: 5px;*/
}

@media (max-width: 768px) {
    .table_of_contents {
        visibility: hidden;
        display: flex;
    }
}

.table_of_contents ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.table_of_contents ul ul {
    padding-left: 2em;
}

.table_of_contents li a {
    display: inline-block;
    color: white;
    opacity: 0.85;
    text-decoration: none;
    transition: all 0.3s cubic-bezier(0.230, 1.000, 0.320, 1.000);
}

.table_of_contents li.visible > a {
    color: white;
    transform: translate( 5px );
}

.table_of_contents_marker {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.table_of_contents path {
    transition: all 0.3s ease;
}

.table_of_contents a:link {
    text-decoration: none;
}

.table_of_contents a:visited {
    text-decoration: none;
}

.table_of_contents a:hover {
    text-decoration: none;
    
    /* on hover, fade color */
    color: white;
    opacity: 1;
    transition: 1s;
}
