
a {
    text-decoration: underline;
    color: var(--blue);
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;

    /*border: 1px solid white;*/
} 

.col {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    align-items: center;

    /*border: 1px solid yellow;*/
}

.about {
    font-size: 20px;
    padding-left: 125px;
    padding-right: 125px;
}

.title {
    /* font styling */
    text-align: center;
    letter-spacing: 1.5px;
}

.bear_team, .curriculum_dev_team, .contributors {
    /* positioning */
    position: relative;
    margin-left: 125px;
    margin-right: 125px;
    margin-top: 225px;
}

.team {
    margin-left: 100px;
    margin-right: 100px;
}

.name, .role {
    text-align: center;
    letter-spacing: 0.75px;
}

.name {
    font-size: 34px;
    font-weight: 600;
    margin-bottom: 0px;
}

.role {
    margin-top: 5px;
    font-size: 24px;
}

.avatar {
    margin-top: 25px;
    height: auto;
}

.dennis, .jesse, .eric {
    width: 55%;
}

.aaron, .jeremy, .rosa {
    width: 65%;
}

.student_name {
    margin-bottom: 0px;
}

.student_contributor {
    font-size: 20px;
    margin-top: 5px;
}

.contributor_image {
    display: inline;
    margin: 0 auto;
    height: 100%;
    width: auto;
}

body {
    /* styling */
    font-size: 20px;

    /* positioning */
    margin-top: 0px;
    /*margin-left: 150px;*/
    /*margin-right: 150px;*/

    /* animations */    
    -moz-animation: fade_in 1.75s ease forwards;
    -webkit-animation: fade_in 1.75s ease forwards;
    -o-animation: fade_in 1.75s ease forwards;
    animation: fade_in 1.75s ease forwards;
    overflow-x: none;
}

@media (max-width: 768px) {
    .about {
        margin-left: -100px;
        margin-right: -100px;
    }

    .bear_team, .curriculum_dev_team {
        margin-left: 25px;
        margin-right: 25px;
    }

    .bear_team {
        padding-top: 150px;
    }

    .row {
        flex-direction: column;
    }

    .col {
        align-items: center;
    }

    body {
        margin-top: -225px;
    }
}